@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    display: flex;
    
    align-items: center;
    overflow: hidden;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    width: 400px;
    max-width: 100%;
}

.header{
    background-color: #ffff;
    border-radius: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

form input, form label, form button {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.form{
    padding: 30px 40px;
}

form input {
    border: 2px solid #f0f0ff;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}


.form button{
    background-color:  #f9d976;
    border: 2px solid #f9d976;
    color: #ffff;

    display: block;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
}

.form button:hover{
    background-color: #f39f86;
}


.paragrafo-resultado, .bad{
    background: rgba(190, 255, 182);
    padding: 10px 20px;
}

.bad{
    background: rgba(181, 87, 25, 0.3);
}